body {
  background-color: lightblue;
}

.sticky-header {
  display: flex;
  background-color: black;
  color: gold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  height: 4rem;
  margin: auto;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

p {
 text-align: center;
}

.goals {
  color: darkblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  text-align: center;
}

.top-ten {
  text-align: center;
}

ol {
  list-style-type: decimal;
}

li {
  display: list-item;
  list-style-position: inside;
}