body {
  background-color: lightblue;
}

.sticky-header {
  display: flex;
  background-color: black;
  color: gold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  height: 4rem;
  margin: auto;
  border-radius: none;
  align-items: center;
  justify-content: center;
}

.bio h3 {
  padding-top: 2rem;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  color: darkgreen;
}

.bio p {
  padding-top: 1rem;
  text-align: center;
}

.bio {
  text-align: center;
}

ul {
  padding: 5px;
}

ul li {
  padding: 5px;
}

.goals {
  color: darkblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  text-align: center;
  margin: auto;
  padding: 1rem;
}

.top-ten {
  text-align: center;
}

ol {
  list-style-type: decimal;
}

li {
  display: list-item;
  list-style-position: inside;
}

.top-ten {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: indigo;
}

.top-ten h2 {
  font-size: 1.5rem;
  font-weight:300;
  padding: 0.5rem;
}